body {
    padding: 15px;
    background-color: #f9f7cf;
    width: 480px;
}
header {
    padding: 5px;
    background-color: #f2dcbb;
    width: 480px;
}
footer {
    padding: 15px;
    background-color: #f2dcbb;
    width: 480px;
}